<?xml version='1.0' encoding='utf-8'?>
<widget id="com.web2face.facetracking" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FaceTracking</name>
    <description>
        A face tracking application.
    </description>
    <author email="acarlos.mendesjr@gmail.com" href="http://web2face.com">
        Web2Face
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-camera-preview" spec="^0.10.0" />
    <plugin name="cordova-plugin-media-capture" spec="^3.0.2" />
    <plugin name="cordova-plugin-device-motion" spec="^2.0.1" />
    <engine name="android" spec="^7.1.4" />
</widget>
